<style>
    .reset-pas-form {
        padding: 2rem 15rem;
    }
</style>
<form class="reset-pas-form"
      asp-action="ResetPassword"
      asp-controller="Cabinet">
    @Html.ValidationSummary()
    <input class="form-control mb-3" name="token" placeholder="Введите код"/>
    <input class="form-control mb-3" name="newPassword" placeholder="Новый пароль"/>
    <button class="btn btn-primary">Сменить</button>
</form>