@model EnglishWeb.Core.Models.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Text</p>
    </div>
</div>

<div class="d-flex mt-5 align-items-end">
    <h4 class="mr-2">Автор:</h4>
    <h6>@Model.User.Name @Model.User.LastName</h6>
</div>

