@model List<EnglishWeb.Core.Models.ViewModels.ArticleViewModel>
@{
    ViewData["Title"] = "List";
}

<style>
    .articles-list {
        padding: 0 15rem;
    }

    .articles-list .list-group-item {
        cursor: pointer;
    }

    .articles-list .list-group-item a {
        display: block;
        text-decoration: none;
    }

    .articles-list .list-group-item:hover {
        background: #007bff;
    }

    .articles-list .list-group-item:hover {
        color: white !important;
    }

    .create-box {
        width: 100%;
        height: 100%;
        padding: 2rem 15rem 0 15rem;
    }
</style>

<h1>Статьи</h1>

<div class="list-group articles-list">
    @foreach (var article in Model)
    {
        <a class="list-group-item" asp-action="Index" asp-controller="Article" asp-route-id="@article.Id">@article.Name</a>
    }
</div>

