@model List<EnglishWeb.Core.Models.ViewModels.ArticleViewModel>
@{
    ViewData["Title"] = "My";
}

<style>
    .articles-list {
        padding: 0 15rem;
    }

        .articles-list .list-group-item {
            cursor: pointer;
        }

            .articles-list .list-group-item a {
                display: block;
                text-decoration: none;
            }

            .articles-list .list-group-item:hover {
                background: #007bff;
            }

                .articles-list .list-group-item:hover {
                    color: white !important;
                }
</style>

<h1>Мои статьи</h1>
<br />

@if (!Model.Any())
{
    <h3 class="text-center">У вас еще нету статей</h3>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" role="button" asp-controller="Article" asp-action="Create">Создать</a>
    </div>
}
else
{
    <div class="list-group articles-list">
        @foreach (var article in Model)
        {
            <a class="list-group-item d-flex justify-content-between" asp-action="Index" asp-controller="Article" asp-route-id="@article.Id">
                <div>@article.Name</div>
            </a>
        }
    </div>
    <div class="d-flex justify-content-center pt-3">
        <a class="btn btn-primary" role="button" asp-controller="Article" asp-action="Create">Создать</a>
    </div>
}

