@using EnglishWeb.Core.Models.DomainModels

@{
    ViewData["Title"] = "Create";
}
<style>
    .choose-type-box {
        padding: 2rem 15rem;
    }
</style>

<h1>Создать тест</h1>
<div class="choose-type-box">
    <form  method="get" action="/Test/ChooseType">
        <select class="form-control" name="testType">
            <option value="0">Radio</option>
            <option value="1">Image</option>
            <option value="2">Input</option>
        </select>

        <div class="d-flex justify-content-center mt-2">
            <input class="btn btn-primary" type="submit" role="button" value="Начать" />
        </div>
    </form>
</div>