@using EnglishWeb.Core.Models.DomainModels
@model EnglishWeb.Core.Models.ViewModels.TestViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Редактор тестов</h1>

<div id="successMessage" class="alert alert-primary" style="display:none" role="alert">
    Success
</div>

<div id="errorMessage" class="alert alert-danger" style="display: none" role="alert">
    Error
</div>

<div class="test-form">
    <input class="form-control" id="testName" placeholder="Введите название теста" />
    <div class="questions">
        <div class="q-template" id="qTemplate1">
            <label q-number="1">Вопрос 1</label>
            <input class="form-control q-name" placeholder="Введите название вопроса" />
            <label>Ответы</label>
            @if (Model.Type == TestType.Radio)
            {
                <div class="d-flex align-items-center q-a-box">
                    <input class="form-control q-answer mr-2" placeholder="Введите ответ" />
                    <input type="checkbox" />
                </div>
                <div class="d-flex align-items-center q-a-box">
                    <input class="form-control q-answer mr-2" placeholder="Введите ответ" />
                    <input type="checkbox" />
                </div>
                <div class="d-flex align-items-center q-a-box">
                    <input class="form-control q-answer mr-2" placeholder="Введите ответ" />
                    <input type="checkbox" />
                </div>
            }
            else
            {
                <div class="d-flex align-items-center q-a-box">
                    <input class="form-control q-answer mr-2" placeholder="Введите ответ" />
                    <input type="checkbox" checked="checked" disabled="disabled" />
                </div>
            }
        </div>
    </div>
    <button class="btn btn-success mt-2" id="newQuestion">Добавить новый вопрос</button>
    <input id="createButton" class="btn btn-primary mt-2" type="button" role="button" value="Создать" />
</div>

