@using EnglishWeb.Core.Models
@model List<EnglishWeb.Core.Models.ViewModels.TestViewModel>
@{
    ViewData["Title"] = "My";
}

<style>
    .test-list {
        padding: 2rem 15rem;
    }

        .test-list .list-group-item:hover {
            background: #007bff;
            color: white !important;
        }
</style>

<h1>Мои тесты</h1>
@if (!Model.Any())
{
    <h3 class="text-center">Вы еще не создавали никаких тестов</h3>
    <div class="justify-content-center d-flex">
        <a class="btn btn-primary text-center" role="button" asp-controller="Test" asp-action="Create">Создать</a>
    </div>
}
else
{
    <div class="list-group test-list">
        @foreach (var test in Model)
        {
            <a asp-controller="Test" asp-action="Index" asp-route-id="@test.Id" class="list-group-item list-group-item-action">@test.Name</a>
        }
    </div>
    <div class="justify-content-center d-flex">
        <a class="btn btn-primary text-center" role="button" asp-controller="Test" asp-action="Create">Создать</a>
    </div>
}